.submit-button {
    border-radius: 10px;
    background-color: #f9e0d1;
    color: #5d3627;
    border: 2px solid #5d3627;
}

.submit-button:hover {
    background-color: #fad8c3;
    border: 2px solid #5d3627;
    color: #5d3627;
}