.box {

  height: 300px;
  border: white 3px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.LouisGeorgeNormal {
  font-family: 'louis_george_caferegular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

.magilio {
  font-family: "magilioregular", Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}


.milchella{
  font-family: 'milchellaregular', Arial, sans-serif;
  font-weight: normal;
  font-style:normal;

}

.Questions {

  margin: 80px auto; /* Center the box horizontally */
  text-align: left;
  margin-left: 30px; /* for left margin */
  margin-right: 320px; /* for right margin */
  justify-content: column;

}

.margins{

  margin-left: 180px; /* for left margin */
  margin-right: 180px; /* for right margin */

}

.BasicImage {

    background: #ffb180 url("../../assets/images/BasicBG2.png") center center no-repeat; 
    /* Solid color bg with image for basic questions*/
    background-size: cover; 
    height: 50vh; 

}


.DetailImage {
  color:#c9885fda;

  background: #bbdb86 url("../../assets/images/BasicBG3.png") center center no-repeat; 
  /* Solid color bg with image for detailed questions*/
  background-size: cover; /* Cover the entire container */
  height: 50vh; /* Adjust height as needed */

}

.backgrColor{
  color: #fa8072b9;
  background: url("../../assets/images/backg.jpg"); 
  /* Solid color background with THE background image (aka the actual bg image with icons on every page) */
  background-size: cover;
}