.box {

  height: 300px;
  border: white 3px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.slidingDiv {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 180px; /* for left margin */
  margin-right: 180px; /* for right margin */
  background-color: rgba(238, 113, 113, 0.725);
  transition: top 0.3s ease;
  z-index: 999;
}

.Questions {

  margin: 80px auto; /* Center the box horizontally */
  text-align: left;
  margin-left: 30px; /* for left margin */
  margin-right: 350px; /* for right margin */
  justify-content: column;

}

.margins{

  margin-left: 180px; /* for left margin */
  margin-right: 180px; /* for right margin */

}

.image {

    background: #ffba6f url("././assets/images/BasicBG2.png") center center no-repeat; /* Solid color background with background image */
    background-size: cover; /* Cover the entire container */
    height: 50vh; /* Adjust height as needed */

}

.image2 {

  background: #bbdb86 url("././assets/images/BasicBG3.png") center center no-repeat; /* Solid color background with background image */
  background-size: cover; /* Cover the entire container */
  height: 50vh; /* Adjust height as needed */

}